@charset "UTF-8";
@import "/css/reset.css";

    

:root{
    --base-text-color : #858585;
    --primary-color:#2E4650;
    --base-text-light : #fff;

}
.d-none {
    display: none;
}
html {
    font-size: 20px;
    scroll-behavior: smooth;   
}

body {
    font :0 1rem  'Noto Sans KR', sans-serif;   
    width: 100%;   
    }

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
p{
    line-height:normal;
}

.pos-relative{
	position:relative;
}
.pos-absolute{
	position: absolute;	
}
.pos-fixed {
	position:fixed;
}



/*header*/
.header_top{
    background-color:var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    overflow: hidden;
    width: 100%;
   
}
.header_logo{
    display : flex;
    justify-content: center;
}
.main_nav{ 
justify-content: center;
margin :auto;
}

#gnb{
    overflow: hidden;
    display: flex;
    margin-top: 3rem;  
    padding-left: 0px;
    justify-content: center;
}


#gnb li {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 150px;
      
}
#gnb li a{
    color: rgba(255,255,255, 0.6);
    display: block;
    font-size: .8rem;
    justify-content: center;
}
#gnb li a:hover {
    color: #fff;
}     
/*main*/
.carousel {
    width: 100%;
    height: 1000px;
}
.container_visual {
    position: relative;
    height: 100%;
    z-index: 1;
    width: 100%;
}
.inner {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;        
}
.inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }  
 .top{
    z-index: 10;
    opacity: 1;
 }

.intro {
    margin: 4%;
    justify-content: center;
}
.intro p{
    color: var(--base-text-color);    
    font-size: 1rem;
    text-align: center;
}
/*main _ branch*/
.branch{
justify-content: center;
margin-bottom: 5%;
}
.branch_title, #loca_h{
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}
.branch img{
    width: 520px;
    height: 300px; 
}
.branch-list {
	display: flex;
    justify-content: center;
	column-gap: 1rem;
	margin : 3rem 0;  
    height: 300px;  

}
.branch-list li:hover .overlay{
	display: flex; 
}
.branch-list .overlay{
	background-color: rgba(0,0,0, .3);
	color: var(--base-text-light);
    width: 520px;
    height: 300px;     
    overflow: hidden;
}
.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;  
}
.over-title {
	font-size: 1rem;
}
.over-title + .material-symbols-outlined {
	font-size: 1rem;
}
.branch_txt{    
    color: var(--base-text-color);  
    text-align: center;
    justify-content: center; 
    font-size: 1rem;  
    
}
#loca_h{
    height: 100%;
    margin : 3rem 0;  
    justify-content: center;
    margin-bottom: 5%; 
    
}
.loca_info{
    display: flex;
    justify-content: center;
    color: var(--base-text-color);    
    font-size: 1rem;
    text-align: center;
    margin-top: 5%;
    margin : 3rem 0; 
    column-gap: 50px;
  
}
.location img{
    width: 700px;
    height: 400px;   
}
.transport{   
    display: inline-block; 
    color: var(--base-text-color);    
    font-size: 1rem;
    text-align: center;  
    justify-content: right;    
}

/*about us*/
.about{   
    text-align: center;
    margin-bottom: 3%;
}
.marriot {    
    margin-top: 5%;
    margin-bottom: 20px;
}
.marriot p {
    font-size: .9rem;
    color: var(--base-text-color);
    margin-top: 3%;
    margin-bottom: 3%;    
}
.about h2, .about h3{
    justify-content: center;
    margin: 3%;
    margin-top: 3%;
    font-size: 1.5rem;
    font-weight:bolder;
}
.about_ono_img{
    flex:4;
	overflow: hidden;
	flex-direction: column;
	height: 520px;
    width: 380px;
	row-gap :.5rem;
}
.about_ono_img img{
	width: 100%;
	object-fit :cover; 
}
.about_ono_text{  
    flex :6;
    background-color: rgba(255,255,255, 0.6);
    color: var(--base-text-color);
    margin-top: 3%;
    margin-bottom: 20px;
    font-size: .8rem;
}
.service_1 img, .service_2 img, .service_3 img {
    width: 520px;
    height: 300px;   
}
.dining li{ 
  	margin-bottom: 1%;    
    display: flex; 	
	justify-content: center;


}
#dining_txt{
        text-align: center; 
}
.service_1 p, .service_2 p, .service_3 p{   
    font-size: .8rem;
    margin-top: 3%;
    margin-bottom: 20px;
    color: var(--base-text-color);
}
.service_2{
    padding: 1rem 0;
    justify-content: center;
    display: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 20px;
}
.service_3{
    padding: 1rem 0;
    display: center;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 20px;
}

#popup img{
    width: 1000px;
    height: 700px;
}
#popup{
    display: none; 
    text-align: center;  
    background-color: #2E4650;
    width: 1000px;
    height: 780px;
    z-index: 9999; 
    position: fixed;
    top: 52%;
    bottom: 50%;
    margin: -250px 0 0 -500px; 
   
   
}
#popup h2 {
    color: #fff;
    font-size: 1.8rem;
}
#popup p{
    color: #fff;
    font-size: 1rem;
    font-weight:200;
}
#popup a{
    display: block;
    text-align: right;
    color: #fff;
}
.p{
	position: absolute;
	width : 940px;
	height:530px;
	left : 50%;
	top: 50%;
	margin-left: calc(-940px / 2) ;
	margin-top: calc(-530px / 2);
}
#close {
	position: absolute;
	width : 9%;
	height: 9%;
	background: black;
	color : white;
	border-radius: 50%;    
	right: 8%;
	top : 8%;
	font-size: 2.5rem;
  
}


/*offers*/

.offers_title {
    text-align: center;
    margin: 2%;
    font-size: 3rem;
    font-weight:bolder;
    margin-bottom: 5%;
}
.promo_wrap img, .package_wrap img{
height: 400px;
width: 700px;
}
.container_offers p{
    font-size: 2rem;
    text-align: center;
    color: var(--base-text-color);
}

.promo_wrap , .package_wrap{
    display: flex;
    justify-content: center;     
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}
.txt_box {     
    width: 100%;
    max-width: 1000px;
    margin-left: 5%;  
}
.benefit{
    width: 500px;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 4%;  
    border-radius: 60px;  
    border: 1px solid var(--primary-color);;
    border-right-width: 10px;
    border-left-width: 10px;  
}

.be1, .be2{
    margin-bottom: 3%;
}

.benefit-details {
    display: none;
    color: var(--base-text-color);
}

/*reservation*/
.reservation h2{
    text-align: center;
    margin: 2%;
    font-size: 3rem;
    font-weight:bolder;
}
.title_detail{
    text-align: center;
    font-size: 1rem;
}
.res{
    margin-top: 4%;
    text-align: center;
    font-size: 3rem;
    font-weight:bolder;
    
}
.res img{
    width: 500px;
    height: 300px;
}
.res li{
    float: left;
    width: calc(100% / 3);  
    justify-content: center;     
    font-size: 1rem;
    font-weight: 200;
}


/*footer*/
.footer_wrap{    
    border-top: 1px solid #C5C5C5;
    display: flex;
    justify-content :space-between;
}

.footer_li{
    float: left;
    font-size: .7rem;    
    display: inline-block;  
}

.footer_logo img {    
    width: 300px;
    height: auto;
    object-fit: cover;    
    display: inline-block;
    margin-right: 30px;


}

#btn_top{
    position: fixed;
    right: 24px;
    bottom: 20px;
    z-index: 100; 

}